{% extends "layout.html" %}
{% block body %}
    <form class="form-inline" role="form" action="" method="post" name="predict">
        {{form.hidden_tag()}}
        <div class="row"><h2>Say something:</h2></div>
        <div class="row">
            <div class="input-group">
                <input name="example" type="text" autofocus="autofocus" placeholder="Oh happy day!" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </form>

    <br />

    <div class="row"><small>
        I was pretrained on:
        <a href="https://dl.dropboxusercontent.com/u/9015381/notebook/movie_reviews.txt">50 random samples</a> from
        <a href="https://www.cs.cornell.edu/people/pabo/movie-review-data/">Cornell Movie Reviews</a> and
        <a href="https://dl.dropboxusercontent.com/u/9015381/notebook/twitter.txt">5000 random samples</a> from
        <a href="http://help.sentiment140.com/for-students">Sentiment140 Tweets</a>
    </small></div>
    <div class="row"><small>I am using: <i>unigrams+bigrams, logistic regression</i></small></div>
{% endblock %}