{% extends "layout.html" %}
{% block body %}
    <h3>Word Sentiment</h3>
    <p>I currently know of {{ vocab_size }} words. Here are the weights corresponding to {{ num_words }} randomly selected words.</p>
    <p>
        <a href="/download"><small>Download model</small></a>
        <span class="glyphicon glyphicon-hdd"></span>
    </p>

    <div class="col-sm-6">
        {% for word, coef in pos_coefficients %}
            <div class="row">
                <div class="label label-{{ "success" if coef>0 else "danger" }}">{{ '%0.4f'| format(coef|float) }}</div>
                {{ word }}
            </div>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        {% for word, coef in neg_coefficients %}
            <div class="row">
                <div class="label label-{{ "success" if coef>0 else "danger" }}">{{ '%0.4f'| format(coef|float) }}</div>
                {{ word }}
            </div>
        {% endfor %}
    </div>
{% endblock %}